@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500&display=swap');

body {
    /* background: #146d18; */
    margin: 0px;
    font-family: 'Raleway';
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-size: 12px; */
}

.container {
    width: 93%;
    margin: 0px 40px;
    padding: 0px;
}

.container_header {
    width: 93%;
    margin: 0px 40px;
    padding: 0px;
}

.flex_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

a {
    border-style: none;
    text-decoration: none;
}

h1 {
    font-size: 21px;
}

h2 {
    font-size: 21px;
}

/* entete */

/*--------------- Style generique  -------------------*/
.text_size_17,
.recherche>::placeholder {
    font-weight: bold;
    font-size: 18px;
    /* color: black; */
}

/* style conteneur des images*/
.card_img {
    width: 100%;
    height: 100%;
    border-radius: 18px 18px 0px 0px;
    overflow: hidden;
}

.dim_img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ombre_box:hover {
    box-shadow: 2px 2px 5px 1px rgba(16, 16, 22, 0.164);
    /* -webkit-transform: scale(1.3);
    transform: scale(1.02); */
    border: none;
    padding: 0px;
    padding-bottom: 5px;
    background: #deebff62;
}

.border_radius_18 {
    border-radius: 18px;
}

.ombre_box {
    box-shadow: 2px 2px 5px 0px rgba(17, 17, 17, 0.024);
    border: 1px solid rgba(17, 17, 17, 0.059);
    cursor: pointer;
}

.card_titre {
    margin: 5px 0px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.margin_rl_10 {
    margin: 0px 10px;
}

.margin_t_15 {
    margin-top: 15px;
}

.margin_t_50 {
    margin-top: 50px;
}

.margin_b_30 {
    margin-bottom: 30px;
}

.margin_10 {
    margin: 10px;
}

.padding_10 {
    padding: 10px;
}



/*--------------- Recherche et Filtre -------------------*/
/*--------------- Recherche -------------------*/
.recherche>::placeholder {
    color: black;
}

.recherche {
    display: flex;
    margin-bottom: 1em;
    height: 50px;
}

.recherche>.icon {
    background: #F2F2F2;
    width: 50px;
    border-radius: 25% 0% 0% 25%;
    border-right: none;
}

.recherche>.icon>i {
    position: relative;
    top: 30%;
    left: 35%;
    font-size: 1.3em;
}

.recherche>input {
    width: 18%;
    border: none;
    border: 1px solid #c8cacc38;
    border-right: none;
    border-left: none;
    background: rgb(252, 252, 252);
}

.recherche>input:focus {
    background-color: rgb(243, 237, 237);
    border: none;
}

.label_recherche {
    padding: 8px;
    border-radius: 0px 15px 15px 0px;
    background: #0065FC;
    color: white;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* border: .08em solid #c8cacc; */
    font-size: 23px;
}

.label_recherche:hover {
    background: #075bda;
    font-weight: 700;
    font-size: 24px;
    flex-direction: row-reverse;
}

.label_recherche:hover i {
    position: relative;
    opacity: 1;
    font-size: 15px;
    padding: 5px 0px;
    flex-direction: row-reverse;
}

.label_recherche>label {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 75%;
    cursor: pointer;
}

.label_recherche>i {
    position: absolute;
    opacity: 0;
}


#recherche_filtre>.info {
    display: flex;
    margin-top: 15px;
}

#recherche_filtre>.info>.info_icon {
    border: .1em solid #dadddfe1;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    text-align: center;
    margin-right: 1%;
}

#recherche_filtre>.info>.info_icon>i {
    color: #0065FC;
    position: relative;
    padding-top: 7px;
}

#recherche_filtre>.info>.info_message p {
    margin-top: 7px;
}

#recherche_filtre h1 {
    font-size: 22px;
    margin-bottom: 0px;
}

#recherche_filtre p {
    margin-top: 5px;
}

/*--------------- filtre -------------------*/
.filtre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filtre_text {
    padding: 0px 15px;
}

.filtre_text_titre {
    height: 25%;
    margin-right: 20px;
}

.filtre_contenu {
    opacity: 1;
    margin: 7px 20px 7px 0px;
    display: flex;
    background: #fbfcfd;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #c8cacc50;
    color: black;
    align-items: center;
}

.filtre_contenu:hover {
    box-shadow: 1px 2px #0065FC;
    color: #0065FC;
    cursor: pointer;
}

.filtre_contenu:active {
    box-shadow: 1px 2px #0065FC;
    color: #201f1f;
    background: #DEEBFF;
    cursor: pointer;
}

.filtre_icon {
    background: #DEEBFF;
    border-radius: 100% 100% 100% 100%;
    width: 50px;
    height: 50px;
}

.filtre_contenu:hover .filtre_icon {
    background: #0065FC;
    cursor: pointer;
}

.filtre_icon>i {
    color: #0065FC;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    top: 25%;
    font-size: 1.5em;
}

.filtre_contenu:hover .filtre_icon>i {
    color: white;
}


/*---------------------- Hebergement et Populaire--------------------*/

#hebergement {
    display: flex;
    justify-content: space-between;
    height: 630px;
}

#activites {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

#recherche_filtre {
    width: 100%;
}

.heberge {
    display: flex;
    justify-content: space-around;
    background: #F2F2F2;
    padding: 29px 0px;
}

.heberge_principale {
    width: 67.5%;
}

.heberge_populaire {
    width: 30%;
}

.hebergement_principale {
    width: 92%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: normal;
}

.hebergement_populaire {
    width: 83%;
    height: 100%;
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hebergement_marge_titre {
    margin: 0px;
    margin-bottom: 20px;
}

.hebergement_card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.hebergement_principale_card {
    align-content: stretch;
}

.hebergement_populaire_card {
    align-content: space-between;
}

.dim_hebergement_card_bloc {
    padding: 4px;
    background: #ffffffde;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: hidden;
}

.hebergement_principale_card_bloc {
    width: 29%;
    height: 190px;
    flex-direction: column;
    margin-bottom: 4%;
}

.hebergement_populaire_card_bloc {
    width: 100%;
    height: 145px;
    margin-bottom: 10%;
}

.hebergement_card_content {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.activites_card_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hebergement_card_description {
    padding: 4px;
    padding-left: 15px;
    /* background: white; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.hebergement_principale_card_description {
    width: 100%;
}

.hebergement_populaire_card_description {
    width: 50%;
}

.hebergement_populaire_card_img {
    width: 50%;
    height: 100%;
    border-radius: 18px 0px 0px 18px;
    overflow: hidden;
}

.activites_card_description_content {
    margin-top: 0px;
    font-size: 13px;
}


/* Style des etoiles*/
.etoile {
    font-size: 13px;
    color: #0065FC;
    position: relative;
    bottom: 0%;
}

.etoile_populaire {
    float: right;
}

.color_gris {
    color: #D9D9D9;
}

.prix {
    font-weight: bold;
}

/* Style du logo */
.logo {
    height: 100px;
    width: 10%;
    overflow: hidden;
}

.logo>img {
    /* float: left;  */
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* -------------- Style entete --------------  */
.header_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: var(--padding-left);
}

nav {
    float: right;
    padding: 0px;
    margin: 0px;
}

nav>ul {
    padding: 0px;
    margin: 0px;
}

nav>ul li {
    display: inline-block;
    height: 100%;
    /* vertical-align: middle; */
}

nav>ul li a {
    color: #060a0f;
    display: inline-block;
    height: 100%;
    padding: 30px 30px 10px 30px;
    /* margin: 0px 10px; */
    text-align: center;
    border: 1px#060a0f;
    font-size: 17px;
}

nav>ul li:first-child a,
nav>ul li a:focus,
nav>ul li a:hover {
    color: #0065FC;
    padding: 30px 30px 10px 30px;
    font-weight: 600;
    border-top: 2px solid #0065FC;
    transition: all ease 0.1s;
}

/* nav>ul li a:focus>nav>ul li:first-child a {
    background: #201f1f;
} */


/*--------------  Style Activites -------------- */
.activites_card {
    display: flex;
    justify-content: space-between;
}

.activites_card_bloc {
    width: 22.5%;
    height: 445px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.activites_card_bloc_comon {
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.activites_card_bloc_2_1 {
    height: 50%;
}

.activites_card_bloc_2_2 {
    height: 42%;
}

.activites_card_description {
    padding: 15px;
    background: white;
    border-radius: 0px 0px 18px 18px;
}

.activites_card_bloc_comon:hover .activites_card_description,
.activites_card_content:hover .activites_card_description {
    background: none;
}

/************************  Style du footer   ***********************/
footer {
    padding: 25px 0px;
    background: #F2F2F2;
    width: 100%;
}

.footer {
    display: flex;
    background: #F2F2F2;
    flex-wrap: wrap;
}

.footer_bloc {
    width: 33%;
}

.footer_bloc>ul {
    padding: 0px;
    width: 100%;
}

.footer_bloc>ul li {
    display: block;
    margin-top: 10px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* main {
        background: red;
    } */
    .container_header {
        width: 100%;
        padding: 0px;
    }

    .container {
        width: 91%;
        margin: 0px 30px;
        padding: 0px;
    }

    nav>ul li {
        width: 49%;
        overflow: hidden;
    }

    nav>ul li a {
        width: 90%;
        padding: 10px 20px 10px 20px;
        border-bottom: 3px solid #8a8a8b94;
    }

    /* .lnk_heberge, */
    nav>ul li:first-child a,
    nav>ul li a:focus,
    nav>ul li a:hover {
        padding: 10px 20px 10px 20px;
        border: none;
        border-bottom: 3px solid #0065FC;
        /* font-weight: 600; */
    }

    /* nav>ul li a:active{
        color: #fc0000;
    } */

    .logo {
        height: 100px;
        width: 40%;
        overflow: hidden;
        padding-left: 65px;
    }

    .margin_b_30 {
        margin-bottom: 0px;
    }

    .header_content {
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .filtre_text_titre {
        width: 100%;
        margin-bottom: 5px;
    }

    nav {
        width: 100%;
        text-align: center;
    }


    .label_recherche>label {
        position: absolute;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 5%;
        opacity: 0;
    }

    .recherche>input {
        width: 100%;
    }

    .recherche>.icon {
        width: 70px;
    }

    .recherche {
        margin: 30px 0px;
        justify-content: space-between;
    }

    .label_recherche:hover {
        background: #075bda;
        font-weight: 700;
        font-size: 24px;
        flex-direction: row;
    }

    .label_recherche>i {
        position: relative;
        padding: 5px;
        opacity: 1;
    }

    .label_recherche:hover i {
        font-size: 25px;
        padding: 5px;
        flex-direction: row;
    }

    #recherche_filtre {
        width: 93%;
    }

    #recherche_filtre h1 {
        font-size: 22px;
    }



    #hebergement {
        flex-wrap: wrap;
        height: 100%;
        flex-direction: column-reverse;
    }

    #activites {
        width: 93%;
    }

    .heberge_principale,
    .heberge_populaire {
        width: 100%;
    }

    .heberge {
        display: flex;
        justify-content: space-around;
        background: #F2F2F2;
        padding: 40px 0px;
        height: 630px;
        border-radius: initial;
    }

    .heberge_md {
        height: 1460px;
        background: white;
    }

    .hebergement_populaire {
        width: 93%;
        justify-content: space-between;
    }

    .hebergement_populaire_card_bloc {
        width: 100%;
        height: 155px;
        margin-bottom: 6%;
    }

    .hebergement_populaire_card {
        align-content: space-around;
    }

    .hebergement_principale_card_bloc {
        width: 100%;
        height: 200px;
        margin-bottom: 6%;
        border: 1px solid rgba(17, 17, 17, 0.054);
    }

    .activites_card_bloc_md {
        height: 200px;
        margin-bottom: 6%;
    }

    .activites_card_bloc {
        width: 100%;
    }

    .activites_card {
        flex-wrap: wrap;
        height: auto;
    }

    .margin_t_50 {
        margin-top: 30px;
    }

    .footer_bloc {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width:755px) {
    /* main {
        background: green;
    } */

    .label_recherche>label {
        position: absolute;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 5%;
        opacity: 0;
    }

    .label_recherche>i {
        position: relative;
        padding: 5px;
        opacity: 1;
    }

    .label_recherche:hover i {
        font-size: 25px;
        padding: 5px;
        flex-direction: row;
    }

    .container {
        width: 91%;
        margin: 0px 30px;
        padding: 0px;
        overflow: auto;
    }

    .container_header {
        width: 100%;
        padding: 0px;
    }

    .header_content {
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .margin_b_30 {
        margin-bottom: 0px;
    }

    .recherche>input {
        width: 100%;
    }

    .recherche {
        margin: 30px 0px;
        justify-content: space-between;
    }

    nav {
        width: 100%;
        text-align: center;
    }

    nav>ul li {
        width: 49%;
        overflow: hidden;
    }

    nav>ul li a {
        width: 90%;
        padding: 10px 20px 10px 20px;
        border-bottom: 3px solid #8a8a8b94;
    }

    nav>ul li:first-child a,
    nav>ul li a:focus,
    nav>ul li a:hover {
        border: none;
        border-bottom: 3px solid #0065FC;
        padding: 10px 20px 10px 20px;
        /* font-weight: 600; */
    }


    .logo {
        height: 100px;
        width: 40%;
        overflow: hidden;
        padding-left: 65px;
    }

    .logo {
        height: 100px;
        width: 20%;
        overflow: hidden;
        padding-left: 65px;
    }

    #hebergement {
        flex-wrap: wrap;
        height: 100%;
        flex-direction: column-reverse;
    }

    .heberge_principale,
    .heberge_populaire {
        width: 100%;
    }

    .heberge {
        display: flex;
        justify-content: space-around;
        background: #F2F2F2;
        padding: 29px 0px;
        height: 630px;
        border-radius: initial;
    }

    .heberge_md {
        height: 820px;
        background: white;
    }

    .hebergement_populaire {
        width: 91%;
        justify-content: space-between;
    }

    .hebergement_populaire_card_bloc {
        width: 100%;
        height: 155px;
        margin-bottom: 5%;
    }

    .hebergement_populaire_card {
        align-content: space-around;
    }

    .hebergement_principale_card_bloc {
        width: 46%;
        height: 200px;
        margin-bottom: 6%;
    }

    .activites_card_bloc {
        width: 47.5%;
    }

    .activites_card {
        padding: 5px;
        flex-wrap: wrap;
        height: 950px;
    }

    .footer_bloc {
        width: 50%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 755px) and (max-width:992px) {
    /* main {
        background: blue;
    } */

    .recherche>input {
        width: 30%;
    }

    .recherche {
        margin: 30px 0px;
    }

    /* .activites_card_bloc_2_2 {
        height: 42%;
    } */
    #hebergement {
        height: 790px;
    }

    .hebergement_principale_card_bloc {
        width: 45%;
    }

    .heberge_principale {
        width: 58%;
    }

    .heberge_populaire {
        width: 39%;
    }

    .activites_card_bloc {
        width: 47.5%;
    }

    .activites_card {
        flex-wrap: wrap;
        padding: 5px;
        height: 950px;
    }
}

/* Large devices (laptops/desktops, 900px and up) */
@media only screen and (min-width: 992px) {
    /* main {
        background: rgb(238, 80, 106); 
    } */

}